#infosContainer{
    display: flex;
    justify-content: space-between;
    width: min(calc(1200px + 6em), 100%);
    margin: auto;
    align-items: center;
}

#infosContainer a{
    all: unset;
    background-color: var(--corTema);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#carrinhoContainer{
    align-items: center;
    background-color: #b3b3b3;
}
#carrinhoContainer h3{
    font-size: 2em;
}
.logoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: none;
}

.logoCard a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    width: fit-content;
    padding: 10px 5px;
    border-radius: 5px;
    border: 2px solid #000;
}
.logoCard a:hover{
    border: 2px solid var(--corTema);
    color: var(--corTema);
}

.card button{
    background-color: #eee;
    color: #000;
}

#btnLimpar{
    all: unset;
    margin-top: 1em;
    background-color: #9b9b9b;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}