#cartao {
    padding: 0;
    margin: 1em auto;
    font-family: sans-serif;
    width: 400px;
    height: 250px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

#cartao article {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(135deg, #1a1a1a, #333);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 16px;
    border-radius: 10px;
    transition: all .8s ease;
}

#cartao figure {
    display: flex;
    justify-content: space-between;
}

#cartao figure img {
    object-fit: contain;
    height: 45px;
}

#front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    z-index: 1;
}

#front p {
    margin: 8px 0;
}

#front p#numero {
    font-size: 1.3em;
}

#front p#nome {
    font-size: 1.5em;
}

#back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: rotateY(-180deg);
    background: #f8f8f8;
    padding: 0 16px 16px 16px;
    backface-visibility: hidden;
}

.faixa-cinza {
    width: 100%;
    background: #555;
    height: 40px;
    margin-bottom: 16px;
    border-radius: 2px;
}

.dados {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px 12px;
    /* espaçamento entre linhas e colunas */
    font-size: 1.3em;
    align-items: center;
    opacity: .9;
}

.dados label {
    text-align: left;
    font-weight: bold;
}

.dados output {
    text-align: right;
}

#cartao.turn #front {
    transform: rotateY(180deg);
    z-index: 0;
}

#cartao.turn #back {
    transform: rotateY(0);
    z-index: 1;
}

form {
    width: min(750px, 100%);
    padding: 1em;
    background-color: #fff;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000046;
}

form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
}

form #bandeirasForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

form #bandeirasForm input {
    display: none;
}

form #bandeirasForm input+label {
    cursor: pointer;
    filter: saturate(0);
    opacity: .7;
    transition: all .2s;
}

form #bandeirasForm input#visa+label {
    filter: brightness(0);
}

form #bandeirasForm input:checked+label {
    filter: saturate(1);
    opacity: 1;
}

form #bandeirasForm img {
    width: 50px;
}

form input{
    padding: 5px;
    font-size: 1.2em;
    outline: none;
    margin-bottom: 0.5em;
    border-radius: 5px;
    border: 1px solid #ababab;
}

.botoesContainer{
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.botoesContainer input{
    all: unset;
    width: 100%;
    margin: 1em 0;
    padding: 0.5em;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    
}

form input[type="reset"]{
    background-color: #aaaaaa;
}
form input[type="submit"]{
    background-color: var(--corTema);
}