#sectionInicio {
    align-content: center;

    background-image: linear-gradient(#ffffff79 50%, #000000), url(../images/predios.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px -20px 50px #000000a2, ;
    margin: 1em;

    height: 650px;
    border-radius: 25px;

}

#sectionInicio article {
    max-width: 100%;
    align-content: center;
    background-size: cover;
}

#sectionInicio h1 {
    background-image: linear-gradient(var(--cor2), var(--cor1));
    background-clip: text;
    font-family: var(--fontGrafite);
    font-size: 10em;
    color: #ffffff00;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    font-weight: normal;
}

#sectionInicio h1::before {
    content: "> ";
}

#sectionInicio h1::after {
    content: " <";
}

#produtosApresentacao {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 1em;

    scroll-snap-type: x mandatory;
}

#produtosApresentacao article {
    flex-shrink: 0;
}

#produtosApresentacao::-webkit-scrollbar {
    height: 10px;
}

#produtosApresentacao::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

#produtosApresentacao::-webkit-scrollbar-button {
    background-color: transparent;
}

#produtosApresentacao::-webkit-scrollbar-thumb {
    background: var(--corTema);
    border-radius: 5px;
}

.cardApresentacao,
.card {
    scroll-snap-align: center;
}

.cardApresentacao {
    background-color: var(--corTema);
    width: min(400px, 100%);
    height: min-content;
    padding: 1em;
    box-shadow: 5px 5px 15px #0000003d;
    border-radius: 10px;
    color: #fff;
}

.cardApresentacao p {
    margin-bottom: 2em;
}

.cardApresentacao a {
    all: unset;
    background-color: #fff;
    color: var(--corTema);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#sectionSobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#sectionSobre article {
    width: min(650px, 100%);
}

#sectionSobre figure {
    mask-image: url(../images/mancha.png);
    -webkit-mask-image: url(../images/mancha.png);
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    width: min(760px, 100%);
}

#sectionSobre figure img {
    max-width: 100%;
}

@media screen and (min-width: 600px) {
    #landing-page article h2 {
        font-size: 2.5em;
    }
}