#produtosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;

    width: min(calc(1200px + 6em), 100%);
    gap: 1em;
    padding: 2em;
    margin: auto;

    border-radius: 10px;
    background-color: var(--corEscura);

}

.logoCard{
    filter: invert(1) hue-rotate(190deg) saturate(10);
    max-width: 100%;
}

.card {
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "imagem imagem"
        "texto texto"
        "preco botao";
    grid-template-columns: 1fr 1fr;

    width: min(400px, 100%);
    padding: 1em;

    background-color: #ffffff;
    box-shadow: 5px 5px 15px #00000023;
    border-radius: 10px;
}

.card h3 {
    grid-area: titulo;
    font-size: 1.5em;
    text-transform: uppercase;
}

.card figure {
    grid-area: imagem;
    overflow: hidden;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.card figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card p {
    grid-area: texto;
    margin-bottom: 15px;
}

.card button {
    all: unset;
    grid-area: botao;
    padding: 10px 0;
    background-color: var(--corTema);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    filter: saturate(.9);
}

.card button:active {
    box-shadow: inset 5px 5px 5px #00000056;
}

.card .preco {
    font-size: 1.5em;
    grid-area: preco;
}