#sobreNos section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#quemSomos article,
#nossaMissao article {
    width: min(650px, 100%);
}

#quemSomos figure {
    width: min(650px, 100%);
}

#quemSomos figure img {
    max-width: 100%;
    width: fit-content;
    object-fit: cover;
    border-radius: 75% 25% 54% 46% / 41% 51% 49% 59%;
    border-right: 5px solid var(--corTema);
    margin: 2em 0;
}

#nossaMissao {
    justify-content: center;
    flex-direction: column;
    border-radius: min(40px, 5vw);
    background-color: var(--corEscura);
    color: #fff;
}

#nossaMissao img {
    max-width: 100%;
    filter: invert(1) hue-rotate(190deg) saturate(10);
}

#nossaMissao p {
    opacity: .7;
}

#escolhaUrbanFlow {
    flex-direction: column !important;
}

#escolhaUrbanFlow article {
    width: min(1200px, 100%);
}

#escolhaUrbanFlow img {
    max-width: 100%;
    border-radius: 10px;
    margin: 2em 0;
}